html,
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

.container {
  margin: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  border: 1px solid #000;
  box-shadow: 0px 0px 8px 8px #0000001a;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  text-transform: capitalize;
  padding: 0.25rem;
}

caption {
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  width: 100%;
}

button {
  border-radius: 0.25rem;
  border: none;
  font-size: 1.5rem;
  height: 48px;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 4px 4px #0000001a;
}

button:not(:disabled):hover {
  filter: opacity(0.5);
}

button:not(:disabled):active {
  filter: brightness(0.75);
  transform: scale(0.99);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

input {
  font-size: 1.5em;
  border-radius: 0.5em;
  padding: 0px 0.25em;
  height: 48px;
  outline: none;
  border: 1px solid gray;
  box-shadow: 0px 4px 4px #0000001a;
}

input:focus {
  outline: 1px solid black;
}

#play-button {
  background-color: blue;
  color: #fff;
}

#guess-button {
  background-color: #00ff00;
  color: #fff;
}

.hidde {
  display: none !important;
}

.table-wrap {
  width: 100%;
  max-height: 200px;
  overflow: auto;
}

.numbers-wrap {
  width: 100%;
  word-wrap: break-word;
  text-align: center;
  overflow: auto;
  max-height: 100px;
}
